body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 173, 207);
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    height: max-content;
}

.radio {
    height: 0;
}

.img-container {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    width: 44rem;
}

.img {
    justify-content: center;
    min-width: 100%;
    transition: .35s; 
}

.under-img-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.captions-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 33rem;
    height: 3rem;
    overflow: hidden;
}

.caption {
    min-width: 100%;
    font-size: 2rem;
    color: rgb(255, 255, 255);  
    opacity: 0; 
}

.controls-container {
    display: flex;
    align-items: center;
} 

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.5rem;
    cursor: pointer;
}

.control:hover .btn {
    background-color: rgb(3, 181, 212);
}

.control:active .btn {
    background-color: rgb(210, 217, 217);
}

.btn {
    width: 1.25rem;
    height: 1.25rem;
    background-color: aliceblue;
    border: solid grey;
    border-radius: .3rem;
}

input#radio1:checked ~ .img-container > .img {
    transform: translate(0);
}

input#radio2:checked ~ .img-container > .img {
    transform: translate(-100%);
}

input#radio3:checked ~ .img-container > .img {
    transform: translate(-200%);
}

input#radio4:checked ~ .img-container > .img {
    transform: translate(-300%);
}

input#radio5:checked ~ .img-container > .img {
    transform: translate(-400%);
}

input#radio1:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(-400%);
}

input#radio1:checked ~ .under-img-container > .captions-container > .caption1 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1;
}

input#radio2:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(-300%);
}

input#radio2:checked ~ .under-img-container > .captions-container > .caption2 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1;
}

input#radio3:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(-200%);
}

input#radio3:checked ~ .under-img-container > .captions-container > .caption3 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1;
}

input#radio4:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(-100%);
}

input#radio4:checked ~ .under-img-container > .captions-container > .caption4 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1;
}

input#radio5:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(0);
}

input#radio5:checked ~ .under-img-container > .captions-container > .caption5 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1; 
}

input#radio1:checked ~ .under-img-container > .controls-container > .control > .btn1 {
    background-color: rgb(113, 113, 113);
    cursor:default
}

input#radio1:checked ~ .under-img-container > .controls-container > .control1 {
    cursor:default
}

input#radio2:checked ~ .under-img-container > .controls-container > .control > .btn2 {
    background-color: rgb(113, 113, 113);
}

input#radio2:checked ~ .under-img-container > .controls-container > .control2 {
    cursor:default
}

input#radio3:checked ~ .under-img-container > .controls-container > .control > .btn3 {
    background-color: rgb(113, 113, 113);
}

input#radio3:checked ~ .under-img-container > .controls-container > .control3 {
    cursor:default
}

input#radio4:checked ~ .under-img-container > .controls-container > .control > .btn4 {
    background-color: rgb(113, 113, 113);
}

input#radio4:checked ~ .under-img-container > .controls-container > .control4 {
    cursor:default
}

input#radio5:checked ~ .under-img-container > .controls-container > .control > .btn5 {
    background-color: rgb(113, 113, 113);
}

input#radio5:checked ~ .under-img-container > .controls-container > .control5 {
    cursor:default
}

@media (max-width: 480px) {

    .under-img-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

    .caption {
        text-align: center;
    }
}