html {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 173, 207);
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 95vw;
    max-height: 95vh;
    width: max-content;
    height: max-content;
    background-color: rgb(95, 95, 95);
    border: solid rgb(95, 95, 95) .5rem;
    border-radius: .5rem;
}

.radio {
    height: 0;
}

.img-container {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    width: 50rem;
    border: solid transparent;
    border-radius: .5rem;
}

.img {
    justify-content: center;
    min-width: 100%;
    transition: .35s; 
}

.under-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.captions-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 33rem;
    height: 4rem;
    overflow: hidden;
}

.caption {
    min-width: 100%;
    font-size: 2rem;
    color: #fafafa;  
    opacity: 0; 
}

.controls-container {
    display: flex;
    align-items: center;
    height: 4rem;
} 

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.5rem;
    cursor: pointer;
}

.control:hover .btn {
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    background-color: rgba(3, 181, 212, 0.279);
    border: solid rgb(171, 171, 171);
}

.control:active .btn {
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    background-color: rgb(3, 181, 212);
    box-shadow: 0 .05rem .25rem .1rem silver;
    transform: scale(1);
}

.btn {
    width: 1.25rem;
    height: 1.25rem;
    background-color: #fafafa;
    border: solid rgb(95, 95, 95);
    border-radius: .3rem;
}

input#radio1:checked ~ .img-container > .img {
    transform: translate(0);
}

input#radio2:checked ~ .img-container > .img {
    transform: translate(-100%);
}

input#radio3:checked ~ .img-container > .img {
    transform: translate(-200%);
}

input#radio4:checked ~ .img-container > .img {
    transform: translate(-300%);
}

input#radio5:checked ~ .img-container > .img {
    transform: translate(-400%);
}

input#radio1:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(-400%);
}

input#radio1:checked ~ .under-img-container > .captions-container > .caption1 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1;
}

input#radio2:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(-300%);
}

input#radio2:checked ~ .under-img-container > .captions-container > .caption2 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1;
}

input#radio3:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(-200%);
}

input#radio3:checked ~ .under-img-container > .captions-container > .caption3 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1;
}

input#radio4:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(-100%);
}

input#radio4:checked ~ .under-img-container > .captions-container > .caption4 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1;
}

input#radio5:checked ~ .under-img-container > .captions-container > .caption {
    transform: translate(0);
}

input#radio5:checked ~ .under-img-container > .captions-container > .caption5 {
    transition-property: opacity;
    transition-duration: 2.5s;
    opacity: 1; 
}

input#radio1:checked ~ .under-img-container > .controls-container > .control > .btn1 {
    cursor: default;
    transition: .5s;
    background-color: rgb(3, 181, 212);
    border: solid #fafafa;
    box-shadow: none;
}

input#radio1:checked ~ .under-img-container > .controls-container > .control1 {
    cursor:default
}

input#radio2:checked ~ .under-img-container > .controls-container > .control > .btn2 {
    cursor: default;
    transition: .5s;
    background-color: rgb(3, 181, 212);
    border: solid #fafafa;
    box-shadow: none;
}

input#radio2:checked ~ .under-img-container > .controls-container > .control2 {
    cursor:default
}

input#radio3:checked ~ .under-img-container > .controls-container > .control > .btn3 {
    cursor: default;
    transition: .5s;
    background-color: rgb(3, 181, 212);
    border: solid #fafafa;
    box-shadow: none;
}

input#radio3:checked ~ .under-img-container > .controls-container > .control3 {
    cursor:default
}

input#radio4:checked ~ .under-img-container > .controls-container > .control > .btn4 {
    cursor: default;
    transition: .5s;
    background-color: rgb(3, 181, 212);
    border: solid #fafafa;
    box-shadow: none;
}

input#radio4:checked ~ .under-img-container > .controls-container > .control4 {
    cursor:default
}

input#radio5:checked ~ .under-img-container > .controls-container > .control > .btn5 {
    cursor: default;
    transition: .5s;
    background-color: rgb(3, 181, 212);
    border: solid #fafafa;
    box-shadow: none;
}

input#radio5:checked ~ .under-img-container > .controls-container > .control5 {
    cursor:default
}

@media (max-width: 480px) {

    .container {
        max-width: 95%;
        border: solid rgb(97, 97, 97) .3rem;
    }

    .under-img-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .captions-container {
        max-width: 100%;
    }

    .caption {
        text-align: center;
    }
}